<h1>New post</h1>

<% form_for(@post, posts_path, :html => { :class => 'formtastic' }) do |f| %>
  <%= f.error_messages %>
  <fieldset>
    <ol>
      <li>
        <%= f.label :title %><br />
        <%= f.text_field :title %>
      </li>
      <li>
        <%= f.label :origin %><br />
        <%= f.text_field :origin %>
      </li>
      <li>
        <%= f.label :message %><br />
        <%= f.text_area :message %>
      </li>
    </ol>
  </fieldset>
  <fieldset class="buttons">
    <ol>
      <li class="commit">
        <%= f.submit 'Create' %>
      </li>
    </ol>
  </fieldset>
<% end %>