<% posts.each do |post| %>
  <div class="post">
    <img src="/images/pin.png" alt="" class="pin">
    <h1>
      <%=h post.title %>
      <span class="name"><%=h post.poster.name %></span>
    </h1>
    <div class="content">
      <p class="from">From: <%=h post.origin %></p>
      <p class="message"><%=h post.message %></p>
    </div>
    <% if false -%>
      <%= link_to 'Edit', edit_post_path(post) %>
      <%= link_to 'Destroy', post, :confirm => 'Are you sure?', :method => :delete %>
    <% end -%>
  </div>
<% end %>