<h1>Listing posts</h1>


<% if signed_in? %>
  <h3>Hi, <%= current_user.name %>!</h3>
  <%= render :partial => 'new_post' %>
  
  <% if @all %>
    <%= link_to 'Mine', '/posts/mine'%>
    <% @all = false %>
  <% else %>
    <% @all = true %>
    <%= link_to 'All', '/posts/all'%>
  <% end%>
  <%= link_to 'sign out', sign_out_path %>
<% else %>
  <%= render :partial => 'sign_in' %>
<% end %>

<table>
  <tr>
    <th>Poster</th>
    <th>Title</th>
    <th>Origin</th>
    <th>Message</th>
  </tr>

<% @posts.each do |post| %>
  <tr>
    <td><%=h post.poster_id %></td>
    <td><%=h post.title %></td>
    <td><%=h post.origin %></td>
    <td><%=h post.message %></td>
    <td><%= link_to 'Show', post %></td>
    <td><%= link_to 'Edit', edit_post_path(post) %></td>
    <td><%= link_to 'Destroy', post, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New post', new_post_path %>
