<!DOCTYPE html>
<html>
  <head>
    <title>RideBoard </title>
    <%= javascript_include_tag 'vendor/jquery-1.3.2.js', 'vendor/jquery.always.js', 'vendor/jquery-ui.js' %>
    <%= javascript_include_tag 'vendor/jquery.jaxy.js', 'vendor/jquery.form.js', 'vendor/jquery.mustache.js' %>
    <%= javascript_include_tag 'application' %>
    <%= stylesheet_link_tag 'meyer_reset', 'application' %>
    <%= stylesheet_link_tag "formtastic" %>
    <%= stylesheet_link_tag "formtastic_changes" %>
    <%= yield :head %>
  </head>
  <body>
    <div id="navigation">
      <%= link_to('logout', sign_out_path, :class => 'logout') if signed_in? %>
      <%= posts_view_toggle_link_tag %>
    </div>
    <div id="wrapper">
      <%= yield %>
    </div>
  </body>
</html>